/*---UTILITIES---*/



.bg-blue{
    background-color: cyan;
    height: 4rem;
}

.bg-red {
    background-color: rgb(129, 55, 53);
    height: 3rem;
}

.width80{
    width: 80%;
    margin: auto;
}


.border{
    border-right: solid 0.2rem #fff;
}

.margin{
    margin-top: 2rem;
}

.row-margin{
    border-bottom: solid 0.2rem #fff;
}

.nest-border{
    border-right:solid 0.2rem cyan;

}

.nest-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;

}